{erl_opts, [debug_info,
            warnings_as_errors,
            warn_untyped_record,
            {parse_transform, lager_transform}]}.
{eunit_opts, [verbose]}.
{edoc_opts, [preprocess,
             {dir, "edoc"}]}.
{cover_enabled, true}.
{xref_checks, [undefined_function_calls]}.
{deps, [{lager, "2.*", {git, "git://github.com/basho/lager.git", {branch, "2.x"}}},
        {clique, "0.3.*", {git, "git://github.com/basho/clique.git", {tag, "0.3.5"}}},
        {ranch, "0.4.0-p1", {git, "git://github.com/basho/ranch.git", {tag, "0.4.0-p1"}}},
        {erlexec, ".*", {git, "https://github.com/saleyn/erlexec.git"}},
        {plumtree, ".*", {git, "git://github.com/basho/plumtree.git", {branch, "develop"}}},
        {riak_ensemble, ".*", {git, "git://github.com/basho/riak_ensemble", {tag, "2.1.2"}}}]}.
